.HeadColumn {
  background-color: slategrey;
  margin: 3px;
  padding: 3px;
  border: solid #495056;

  &--asc {
    position: relative;
    &::after {
      position: absolute;
      right: 5px;
      content: '\25b2';
    }
  }
  
  &--desc {
    position: relative;
    &::after {
      position: absolute;
      right: 5px;
      content: '\25bc';
    }

  }
}