.Pagination {
  display: flex;
  justify-content: flex-end;
  margin: 3px;

  & > div {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  & > button {
    min-width: 100px;
    margin-left: 5px;
  }
}