.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: white;

  &__loader {
    padding: 10px;
  }

  &__error {
    display: flex;
    color: red;
    border: solid red;
    width: 100%;
    height: auto;
    margin: 3px 3px 3px 3px;
    padding: 3px;
  }

  &__table-row--selected {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  }
}
