.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: white;

  &__loader {
    padding: 10px;
  }
}
